p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.theorem {
  background: Linen;
}

.lemma {
  background: Linen;
}

.example {
  background: FloralWhite;
}

.proposition {
  background: Linen;
}

.definition {
  background: GhostWhite;
}

.hypothesis {
  background: WhiteSmoke;
}
